<center>
    <h1>Bievenido al Bot de Rodrigo</h1>
    <br>
    <br>
    <h3>Este Bot contiene:<br> Imagen  /photo<br> Sonido  /sound<br> Ubicaci&oacute;n /loc<br>Texto  /hola</h3> <br><br>
    <h3>Ingresa desde Telegram y buscame:<br> @RodrigoBot</h3>
</center>